.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2c3e50;
  /* Adding a darker background for better contrast */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Subtle shadow for depth */
}

.goBackLink {
  display: block;
  margin-bottom: 20px;
  color: #3498db;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.2s ease;
  /* Smooth transition for hover effect */
}

.goBackLink:hover {
  color: #2980b9;
}

.movieContent {
  text-align: center;
  padding: 20px;
  background-color: #34495e;
  /* Lighter background for content */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Enhance focus on the content area */
}

.moviePoster {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.movieTitle,
.movieRating,
.movieOverview,
.movieGenres {
  color: #ffffff;
  /* Enhanced visibility with white text */
  margin-bottom: 10px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.navItem {
  margin-right: 20px;
}

.navItem a {
  text-decoration: none;
  color: #3498db;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 0.3s ease;
  /* Smooth transition for hover effect */
}

.navItem a:hover {
  color: #2980b9;
  /* Darker blue for hover effect */
}

.loader {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.movieGenres {
  font-size: 1em;
  color: #f57979;
  margin-bottom: 20px;
}
