.navigation-container {
  max-width: 800px;
  background-color: #282c34;
  padding: 16px 40px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(36, 43, 61, 0.2);
  transition: all 0.3s ease-in-out;
}

.navigation-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.navigation-item {
  margin: 0 20px;
  position: relative;
}

.navigation-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.navigation-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #3498db;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation-link:hover {
  color: #3498db;
}

.navigation-link:hover::after {
  width: 100%;
}


@media (max-width: 768px) {
  .navigation-container {
    flex-direction: column;
       padding: 12px;
  }

  .navigation-item {
    margin: 10px 0;
  }
}
