.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.movie-list-item {
  width: 220px;
   text-align: center;
  transition: transform 0.3s ease;
}

.movie-list-item:hover {
  transform: scale(1.05);
}

.moviePoster {
  width: 100%;
  height: 330px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.movie-link {
  display: block;
  margin-top: 8px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.movie-link:hover {
  color: #ffb6c1;
}
