.moviesContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* .searchForm {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    margin: 24px auto;
  }
  
  .searchInput {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .searchButton {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searchButton:hover {
    background-color: #2980b9;
  } */

.movieList {
    width: calc(25% - 12px);
    height: auto;
    margin-bottom: 10px;
}

.movieItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.movieItem:hover {
    transform: scale(1.05);
}

.moviePoster {
    width: 100%;
    height: auto;
}

.movieTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
}

.movieRating {
    font-size: 1em;
    color: #f39c12;
    margin: 0 10px 10px;
}

.movieOverview {
    font-size: 0.9em;
    color: #555;
    margin: 0 10px 10px;
}

.movieGenres {
    font-size: 0.8em;
    color: #777;
    margin: 0 10px 10px;
}